	@keyframes slug-animation  {
	  0% {
	      transform-origin: 40% 40%;
	      transform: rotateZ(0deg);
	  }
		100% {
	      transform-origin: 40% 40%;
	      transform: rotateZ(360deg);
	  }
	}
	@keyframes slime-animation  {
	  0% {
	      transform-origin: 50% 50%;
	      transform: rotateZ(0deg);
	  }
		100% {
	      transform-origin: 50% 50%;
	      transform: rotateZ(360deg);
	  }
	}
	#slug-animation {
	  animation : slug-animation 1.5s linear infinite;
	}
	#slime-animation {
	  animation : slime-animation 10s linear infinite;
	}
