
@media only screen and (min-width: 960px) {
  #header {
    max-height : 63px !important;
  }
  #header h2 { margin-top : -20px }

  #menu-open {
    width : 50px;
    margin-top : -5px;
  }
}




@media only screen and (max-width: 960px) {
  .flag {
    width : 80px;
  }
  .flag.flag-en {}

  #tab {
    padding-top : 100px;
  }
  #tab-close {
    font-size : 2rem;
    max-height : 100px;
  }
  #tab-size-marker { width : 740px !important }
  #tab { width : 740px }

  #tab-svg { margin-left : -3px ;}

  .tab-content .project-description-container {
    max-height : 70vh;
  }

  #tab-content #gallery .project-title{
      display : block;
      margin-top: 0px;
      position : relative;
  }

  #header {
    min-height : 100px;
  }


  #header h1 {
    line-height : 1.4em;
    font-size : 2em;
    margin-bottom : 0;
  }
  #header h2 { font-size : 1.2em; }
  #header #logo-block img {
    height : 95px;
  }
  footer #browserstack {
    width : 130px;
  }

  .nav {
    width : 400px;
    top : 17%;
    right : -500px;
  }
    .nav ul li .icon {
      width: 100px;
      margin-top : -10px;
  }
  .nav ul li {
    min-height : 4em;
    max-height : 4em;
  }
  .nav ul li .text { visibility : visible; }


  footer p {
    font-size : 1.1rem !important;
  }
  footer {
    height : 7em;
  }
  footer .social i {
    width : 50px;
    height : 50px;
    font-size : 2rem;
  }

}


@media only screen and (max-width: 768px) {
  #socials-icons { margin-top : -20px; }
  #tab-size-marker { width : 100% !important }
  #tab { width : 100% }
}

@media only screen and (max-width: 576px) {

  .nav ul li .text { font-size : 3em; }
  .nav ul li .text { font-size : 1.7em; }
  .nav ul li {
    min-height : 2em;
    max-height : 2em;
  }
  .nav { top : 15%; }
  .nav.mobile ul  { padding-right : 30px; }
  footer {
    height : 4.4em;
  }
  footer .social i {
    width : 30px;
    height : 30px;
    font-size : 2.3rem;
  }
  #socials-icons { margin-top : -38px; }
  #loading img.big {
    top : 25%;
    left : 35%;
  }
}


@media only screen and (max-width: 350px) {
  header { padding-left : 5px;}
  footer #flags { bottom : 5px; }
}
