
@media only screen and (min-width: 960px) {
  #header {
    max-height : 63px !important;
  }
  #header h2 { margin-top : -20px }
  #tab-close {
    margin-top : -200px !important;
  }
}

@media only screen and (max-width: 960px) {
  .flag {
    width : 80px;
  }
  .flag.flag-en {margin-top : 4px;}

  .tab-content {
    margin-top : -200px;
  }
  .tab-content button { font-size : 2.3rem}
  #tab h2 { font-size : 4rem}
  #tab { font-size : 2.3rem; }
  #tab-close {
    font-size : 4rem;
    max-height : 100px;
    margin-top : 50px !important;}

  #tab-svg { margin-left : -3px ;}

  .tab-content .project-description-container {
    max-height : 70vh;
  }

  #tab-content #gallery .project-title{
      display : block;
      margin-top: 0px;
      position : relative;
  }

  #header {
    min-height : 100px;
  }


  #header h1 {
    line-height : 1.4em;
    font-size : 2.5em;
    margin-bottom : 0;
  }
  #header h2 { font-size : 2em; }
  #header #logo-block img {
    height : 95px;
  }
  footer #browserstack {
    width : 200px;
  }
  footer p.copy {
    bottom : 15px;
  }

  .nav {
    width : 400px;
    top : 17%;
    right : -500px;
  }
    .nav ul li .icon {
      width: 100px;
      margin-top : -10px;
  }
  .nav.mobile ul li .text { font-size : 3em; }
  .nav ul li {
    min-height : 4em;
    max-height : 4em;
  }
  .nav ul li .text { visibility : visible; }


  footer p {
    font-size : 2rem !important;
  }
  footer {
    height : 7em;
  }
  footer .social i {
    width : 50px;
    height : 50px;
    font-size : 2rem;
  }

}

@media only screen and (max-height: 576px) {

  .nav ul li .text { font-size : 3em; }
  .nav ul li .text { font-size : 1.7em; }
  .nav ul li {
    min-height : 2em;
    max-height : 2em;
  }
  .nav { top : 15%; }
  #tab { font-size : 2.3rem; }
  footer {
    height : 4.4em;
  }
  footer .social i {
    width : 30px;
    height : 30px;
    font-size : 2.3rem;
  }
  #loading img.big {
    top : 25%;
    left : 35%;
  }
}
