html, body {
  margin : 0; padding : 0;
  position : fixed;
  overflow : hidden;
  width : 100%; height : 100%;
  /*
  TODO :
  font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif
  https://fonts.google.com/specimen/Heebo
  https://fonts.google.com/specimen/Ubuntu
  footer news cycle
  */
}
body {
  background : #17BEC7;
}

#background {
  width : 100%;
  height : 100vh;
  position : fixed;
  background : url('../imageimages/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#device {
  font-size : 6em;
  position : absolute;
  top : 50px;
  left : 50px;
  z-index : 99;
}
#fps {
  font-size : 6em;
  position : absolute;
  top : 150px;
  left : 50px;
  z-index : 99;
}
#device.success {
  color : green;
}

#device.failure {
  color : red;
}

.flag {
  width : 50px;
  cursor : pointer;
  z-index : 14;
}
#language {
  position : fixed !important;
  top : 0px;
  right : 0px;
}

#tab {
  width: 0px;
  height : 100vh;
  z-index : 3;
  position : absolute;
  overflow : hidden;
  max-width : 840px;
  margin : 0;
  padding : 0;
  font-size : 1.1rem;
}

#tab-about h1 {
  font-family: "Ubuntu",sans-serif;
  font-size : 2.1rem;
  color : #6D316C;
}
#tab-about h3 {
  font-family: "Heebo",sans-serif;
  font-size : 1.3rem;
  color : #C47E3F;
}
#tab .link {
  color : #6D316C;
  cursor : pointer;
}

#tab-road .scrollable {
  height : 80vh;
}
#tab-road h3 {
  color : #6D316C;
  font-family : 'Ubuntu', sans-serif;
  font-size : 1.5rem;
  font-weight : 400;
}
#tab-road #portrait {
  border : 10px solid white;
  border-radius : 100px;
}
#tab-road p.en, #tab-road p.fr {
  text-align : justify;
}

#tab-contact button {
  border : none;
  background : none;
  display: inline-flex;
}
#tab-contact button img {
  margin-bottom : -50%;
  cursor : pointer;
}
#tab-contact input, #tab-contact textarea {
  display : block;
  background: #af6b78; /* Old browsers */
  background: -moz-linear-gradient(top, #af6b78 0%, #994674 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #af6b78 0%,#994674 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #af6b78 0%,#994674 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af6b78', endColorstr='#994674',GradientType=0 ); /* IE6-9 */
  border : 1px solid rgb(237, 209, 223);
  color : white;
}
#tab-contact input::placeholder, #tab-contact textarea::placeholder {
  color : white !important;
}#tab-contact input, #tab-contact textarea {
  color : white !important;
  font-family : 'Ubuntu', sens-serif;
  font-size : 0.8em;
  font-weight : 700;
  padding-top : 5px;
  padding-bottom : 5px;
}
#tab-content input.optional {
  font-weight : 300;
}
#tab-contact textarea {
  min-height : 30vh;
}
/* Hidding anti spam input*/
#tab-content #email2 {
  display: none;
}
#tab-contact .alert { display : none }

#tab-svg {
  position : absolute;
  left : -100px;
  z-index : 3;
}
#tab-close {
  z-index : 3;
  width : auto;
  height : auto;
  max-width : 70px;
  font-weight: lighter;
  background: white;
  border: 1px solid lightgray;
  color: gray;
}

#tab-content {
  background : white;
  margin : 0;
}

#tab-header {
  max-height : 200px;
}

.tab-content {
  min-height : 70vh;
  margin-top : -70px;
}
.tab-content .project-description-container {
  overflow-y : scroll;
  max-height : 60vh;
}

#tab-footer {
  position: absolute;
  bottom : 0;
}
#tab-footer .social{
  color : #6D316C;
}

.canvas, .screen {
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100vh;
  padding : 0;
}
#canvas-container {
  background : black;
}

#offCanvas { visibility : hidden }

#loading.screen {
  background : #6D316C;
  width: 100%; height : 100vh;
}

#loading img{
  position : absolute;
}
#loading img.small {
  position : absolute;
  top : 45%;
  left : 45%;
}
#loading img.big {
  top : 45%;
  left : 35%;
}

#main { display : none; z-index: 1 }
#main #header , #logo{
  background : white;
}
#header {
  z-index : 6;
  background : white;
  display: none;
  position : absolute;
}
#header #logo h1 {
  line-height : 2em;
  margin-left : -30px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight : bold;
  color : #6D316C;
  font-size : 1.4em;
}
#tab-content {
  overflow-y: scroll;
  overflow-x: hidden;
}
#tab-content h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight : bold;
  color : #6D316C;
}
#tab-content p {
  font-family: 'Heebo', sans-serif;
}
#tab-content #gallery {
  max-height : 30vh;
}
#tab-content #gallery a:hover .project-title{
  display : block
}
#tab-content #gallery .project-title{
    min-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: -50px;
    z-index: 12;
    position: absolute;
    width: 90%;
    padding-top: 10px;
    padding-left: 5px;
    display: none;
}
#menu-open {
  width : 90px;
  position : absolute;
  top : 10px;
  right : 40px;
  z-index: 7
}
#menu-open	#l1, #l2, #l3, #l4 { fill:#6D316C; }

#header .nav ul a {display : inline}
#nav-overlay {
  width : 0px;
  height : 100vh;
  background : rgba(255, 255, 255, 0.2);
  position : absolute;
  top : 0;
  right : 0px;
  z-index: 3;
}
.nav.mobile {
  position : absolute;
  /*width : 200px;
  height : 200px;
  top : 40%;*/
  right : 60px;
  display : none;
  z-index : 4;
}
.nav.mobile ul {
  list-style : none;
  position : absolute;
  width : 100%;
  display : block;
 }
.nav.mobile ul li {
  min-height : 2.5em;
  max-height : 2.5em;
  line-height : 2.5em;
}
.nav ul a { text-decoration : none }
.nav.mobile ul li .text {
  color : white;
  font-family: 'News Cycle', sans-serif;
  font-size : 1em;
  text-align: right;
}
.nav ul li .icon { width : 50px;}
.nav:not(.mobile) ul li span.text {
  color : #6D316C;
}.nav:not(.mobile) ul {
  position : absolute;
  width : 80%;
  right : 0;
}
.nav:not(.mobile) ul li .icon.on {
  margin-top : -10px;
}
.nav:not(.mobile) ul li.road .icon.on {
  margin-top : -8px;
}
.nav:not(.mobile) ul li.about .icon.on {
  margin-top : -3px;
}
.nav:not(.mobile) ul li .icon.off {
  margin-top : -2px;
}
.nav:not(.mobile) ul li {
  max-height : 64px;
}

.nav ul li .icon.on {display : none}
.nav ul li .icon.off { display : inline }
.nav ul li:hover .icon.off,  .nav ul li.selected .icon.off {display : none}
.nav ul li:hover .icon.on, .nav ul li.selected .icon.on { display : inline }
/*.nav.mobile ul li .text { visibility : hidden; }*/
.nav ul li:hover .text, .nav ul li.selected .text { visibility : visible; }

#footer {
  width: 100%;
  height : 60px;
  position : fixed;
  bottom : 0;
  z-index : 4;
}
#footer p {
  color : white;
  font-family: 'News Cycle', sans-serif;
  font-size : 0.8em;
}
#footer p.copy {
  position : absolute;
  bottom : 0px;
}
#footer .social {
  position : absolute;
  bottom : 0;
  right : 0;
  z-index : 6;
}
#footer .social i {
  width : 30px;
  height : 30px;
  color : white;
  font-size : 2rem;
}
#browserstack { width : 100px }

.pull-left { float : left };
.pull-right { float : right };





@media (min-width: 990px) {
  #header {
    max-height : 63px !important;
  }
  #tab-close {
    margin-top : -200px !important;
  }
}

@media (max-width: 990px) {


.flag {
  width : 80px;
}

  .tab-content {
    margin-top : -200px;
  }
  .tab-content button { font-size : 2.3rem}
  #tab h2 { font-size : 4rem}
  #tab { font-size : 2.3rem; }
  #tab-close {
    font-size : 4rem;
    max-height : 100px;
    margin-top : 50px !important;

  #tab-svg { margin-left : -3px ;}

  .tab-content .project-description-container {
    max-height : 70vh;
  }

  #tab-content #gallery .project-title{
      display : block;
      margin-top: 0px;
      position : relative;
  }

  #header {
    min-height : 100px;
    height : 100px;
    max-height : 100px !important;
  }


  #header #logo h1 {
    line-height : 1.4em;
    font-size : 3.6em;
  }
  #header #logo img {
    height : 95px;
  }

  .nav {
    width : 400px;
    top : 17%;
    right : -500px;
  }
    .nav ul li .icon {
      width: 100px;
      margin-top : -10px;
  }
  .nav.mobile ul li .text { font-size : 3em; }
  .nav ul li {
    min-height : 4em;
    max-height : 4em;
  }
  .nav ul li .text { visibility : visible; }


  #footer p {
    font-size : 2rem;
  }
  #footer {
    height : 7em;
  }
  #footer .social i {
    width : 50px;
    height : 50px;
    color : white;
    font-size : 3rem;
  }

}

@media (max-height: 600px) {

  .nav ul li .text { font-size : 3em; }
  .nav ul li .text { font-size : 1.7em; }
  .nav ul li {
    min-height : 2em;
    max-height : 2em;
  }
  .nav { top : 15%; }
  #tab { font-size : 2.3rem; }
  #footer {
    height : 4.4em;
  }
  #footer .social i {
    width : 30px;
    height : 30px;
    color : white;
    font-size : 2.3rem;
  }
  #loading img.big {
    top : 25%;
    left : 35%;
  }
}
