html, body {
  margin : 0; padding : 0;
  position : fixed;
  overflow : hidden;
  width : 100%; height : 100%;
}
body {
  background : #6D316C;
}

#tab {
  width: 0px;
  height : 100vh;
  background : white;
  z-index : 3;
  position : absolute;
  overflow : hidden;
}

.canvas, .screen {
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100vh;
  padding : 0;
}
#offCanvas { visibility : hidden }

#loading.screen {
  background : #6D316C;
  width: 100%; height : 100vh;
}

#loading img{
  position : absolute;
}
#loading img.small {
  position : absolute;
  top : 45%;
  left : 45%;
}
#loading img.big {
  top : 45%;
  left : 35%;
}

#main { display : none; z-index: 1 }
#main #header , #logo{
  margin-left :  auto;
  margin-right : auto;
  background : white;
  height : 50px;
}
#header #logo h1 {
  line-height : 2em;
  margin-left : -30px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight : bold;
  font-size : 1.4em;
  color : #6D316C;
}
#menu-open {
  width : 90px;
  position : absolute;
  top : 10px;
  right : 40px;
  z-index: 1
}
#menu-open	#l1, #l2, #l3, #l4 { fill:#6D316C; }

#nav-overlay {
  width : 0px;
  height : 100vh;
  background : rgba(255, 255, 255, 0.2);
  position : absolute;
  top : 0;
  right : 0px;
  z-index: 0;
}
#nav {
  position : absolute;
  width : 200px;
  height : 200px;
  top : 40%;
  right : 60px;
  display : none;
  z-index : 2;
}
#nav ul {
  list-style : none;
  position : absolute;
  width : 100%;
  display : block;
 }
#nav ul li {
  min-height : 2.5em;
  max-height : 2.5em;
  line-height : 2.5em;
}
#nav ul a { text-decoration : none }
#nav ul li .text {
  color : white;
  font-family: 'News Cycle', sans-serif;
  font-size : 1em;
  text-align: right;
}
#nav ul li .icon { width : 50px;}
#nav ul li .icon.on {display : none}
#nav ul li .icon.off { display : inline }
#nav ul li:hover .icon.off,  #nav ul li.selected .icon.off {display : none}
#nav ul li:hover .icon.on, #nav ul li.selected .icon.on { display : inline }
#nav ul li .text { visibility : hidden; }
#nav ul li:hover .text, #nav ul li.selected .text { visibility : visible; }

#footer {
  width: 100%;
  height : 60px;
  position : fixed;
  bottom : 0;
  z-index : 4;
}
#footer p {
  color : white;
  font-family: 'News Cycle', sans-serif;
  font-size : 0.8em;
}
#footer p.copy {
  position : absolute;
  bottom : 0;
}
#footer #social {
  float : right;
}
#footer #social img {
  width : 30px;
  height : 30px;
}

@media only screen and (max-width: 990px) {
  #main #header , #logo{
    height : 100px;
  }
  #header #logo h1 {
    line-height : 1.4em;
    font-size : 3.6em;
  }
  #header #logo img {
    height : 95px;
  }

  #nav {
    width : 400px;
    top : 17%;
    right : -500px;
  }
  #nav ul li .text { font-size : 3em; }
  #nav ul li {
    min-height : 4em;
    max-height : 4em;
  }
  #nav ul li .text { visibility : visible; }

  #footer p {
    font-size : 1.5em;
  }
  #footer {
    height : 7em;
  }
  #footer #social img {
    width : 50px;
    height : 50px;
  }

}

@media only screen and (max-height: 600px) {  #nav ul li .text { font-size : 3em; }
  #nav ul li .text { font-size : 1.7em; }
  #nav ul li {
    min-height : 2em;
    max-height : 2em;
  }
  #nav { top : 15%; }
  #footer {
    height : 4.4em;
  }
  #footer #social img {
    width : 30px;
    height : 30px;
  }
  #loading img.big {
    top : 25%;
    left : 35%;
  }
}
