html, body {
  margin : 0; padding : 0;
  position : fixed;
  overflow : hidden;
  width : 100%; height : 100%;
  /*
  TODO :
  font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif
  https://fonts.google.com/specimen/Heebo
  https://fonts.google.com/specimen/Ubuntu
  footer news cycle
  */
}
body {
  background : #17BEC7;
}

.tile, .character, .static-npc {
  position : absolute;
}

#box {
  z-index : 9999;
  position : absolute;
}

#canvas {
  background : #17BEC7;
  min-width : 100vw;
  position : absolute;
  left : 0;
  top : 100px;
  min-height : 100vh;
}


/* WIP
#wip {
  position : fixed;
  background : #6D316C;
  width: 100% !important; height : 100vh !important;
  z-index : 999999;
}
#wip img {
  width : 250px;
}
#wip p{
  text-align : center;
  font-size : 2rem;
  color : white;
  font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
}
#wip #p2{
  font-size : 1.5rem;
  font-family: 'Heebo';
}
body {
  overflow : hidden;
}*/







#background {
  width : 100%;
  height : 100vh;
  position : fixed;
  background : url('../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
video {
  height : 100vh;
  width : 100vw;
  object-fit: cover;
}
#device {
  font-size : 6em;
  position : absolute;
  top : 50px;
  left : 50px;
  z-index : 99;
}
#fps {
  font-size : 6em;
  position : absolute;
  top : 150px;
  left : 50px;
  z-index : 99;
}
#device.success {
  color : green;
}

#device.failure {
  color : red;
}

#lg-block a {
  width : 50px;
  z-index : 14;
  margin : auto;
  margin-left : 10px;
}
footer .flag{ width : 50px}
#language {
  position : fixed !important;
  top : 0px;
  right : 0px;
}
#tab {
  width: 0px;
  height : 100vh;
  z-index : 9998;
  position : absolute;
  overflow : hidden;
  max-width : 840px;
  margin : 0;
  padding : 0;
  background : white;
  display : none;
  /*padding-top : 50px;*/
  font-size : 1.1rem;
}

#tab-about h1 {
  font-family: "Ubuntu",sans-serif;
  font-size : 2.1rem;
  color : #6D316C;
}
#tab-about h3 {
  font-family: "Heebo",sans-serif;
  font-size : 1.3rem;
  color : #C47E3F;
}
#tab .link {
  color : #6D316C;
  cursor : pointer;
}

#tab-road .scrollable, #tab-about .scrollable {
  height : 70vh;
}
#tab-road h3 {
  color : #6D316C;
  font-family : 'Ubuntu', sans-serif;
  font-size : 1.5rem;
  font-weight : 400;
}
#tab-road #portrait {
  border : 10px solid white;
  border-radius : 100px;
}
#tab-road p.en, #tab-road p.fr {
  text-align : justify;
}

#tab-contact button {
  border : none;
  background : none;
  display: inline-flex;
}
#tab-contact button img {
  margin-bottom : -50%;
  cursor : pointer;
}
#tab-contact input, #tab-contact textarea {
  display : block;
  background: #af6b78; /* Old browsers */
  background: -moz-linear-gradient(top, #af6b78 0%, #994674 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #af6b78 0%,#994674 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #af6b78 0%,#994674 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af6b78', endColorstr='#994674',GradientType=0 ); /* IE6-9 */
  border : 1px solid rgb(237, 209, 223);
  color : white;
}
#tab-contact input::placeholder, #tab-contact textarea::placeholder {
  color : white !important;
}#tab-contact input, #tab-contact textarea {
  color : white !important;
  font-family : 'Ubuntu', sens-serif;
  font-size : 0.8em;
  font-weight : 700;
  padding-top : 5px;
  padding-bottom : 5px;
}
#tab-content input.optional {
  font-weight : 300;
}
#tab-contact textarea {
  min-height : 30vh;
}
/* Hidding anti spam input*/
#tab-content #email2 {
  display: none;
}
#tab-contact .row .alert { display : none }
#send-mail-error, #send-mail-success { display : none }

#tab-size-marker {
  position : fixed;
  display : block;
  width : 840px !important;
}
#tab-svg {
  position : absolute;
  left : -100px;
  z-index : 3;
}
#tab-close {
  z-index : 3;
  width : auto;
  height : 50px;
  max-width : 70px;
  font-weight: lighter;
  background: white;
  border: 1px solid lightgray;
  color: gray;
}

#tab-content {
  background : white;
  margin : 0;
}

#tab-header {
  max-height : 200px;
}

.tab-content {
  min-height : 80vh;
  margin-top : -70px;
}
.tab-content .project-description-container {
  max-height : 60vh;
}

#tab-footer {
  position: fixed;
  bottom : 0;
  display : none;
}
#tab-footer .social{
  color : #6D316C;
}

.canvas, .screen {
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100vh;
  padding : 0;
}
#canvas-container {
  background : black;
}

#offCanvas { visibility : hidden }

#loading.screen {
  background : #6D316C;
  width: 100% !important; height : 100vh !important;
}

#loading img{
  position : absolute;
}
#loading img.small {
  position : absolute;
  top : 45%;
  left : 45%;
}
#loading img.big {
  top : 45%;
  left : 35%;
}

#main { display : none;
   z-index: 1;
   width : 0px !important;
  }
#main header , #logo{
  background : white;
}
header {
  z-index : 9999;
  background : white;
  display: none;
  position : absolute;
  width : 100%;
}

header, #logo-block {
}




header  h1 {
  line-height : 2em;
  font-family: 'Ubuntu Mono', monospace;
  font-weight : bold;
  color : #6D316C;
  font-size : 1.4em;
}
h2#title {
  font-family: 'Heebo', monospace;
  color : #6D316C;
  font-size : 1.1em;
  font-weight : bold;
}
#tab-content {
  overflow-y: scroll;
  margin-bottom : 100px;
  max-height : 90vh;
}
#tab-content h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight : bold;
  color : #6D316C;
}
#tab-content p {
  font-family: 'Heebo', sans-serif;
}
#tab-content #gallery {
  max-height : 30vh;
}
#tab-content #gallery a:hover .project-title{
  display : block
}
#tab-content #gallery img { width : 100% }
#tab-content #gallery .project-title{
    min-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: -50px;
    z-index: 12;
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    display: none;
}
#menu-open {
  width : 70px;
  float : right;
  z-index: 7
}
#menu-open	#l1, #l2, #l3, #l4 { fill:#6D316C; }

header .nav ul a {display : inline}
#nav-overlay {
  width : 0px;
  height : 100vh;
  background : rgba(109, 49, 108, 0.2);
  position : absolute;
  top : 0;
  right : 0px;
  z-index: 9998;
}

.nav.mobile {
  position : absolute;
  /*width : 200px;
  height : 200px;
  top : 40%;*/
  right : 60px;
  display : none;
  z-index : 9998;
}
.nav.mobile ul {
  list-style : none;
  position : absolute;
  width : 100%;
  display : block;
 }
.nav.mobile ul li {
  min-height : 2.5em;
  max-height : 2.5em;
  line-height : 2.5em;
}
.nav ul a { text-decoration : none }
.nav.mobile ul li .text {
  color : white;
  font-family: 'News Cycle', sans-serif;
  font-size : 1.7em;
  text-align: right;
}

.nav ul li .icon { width : 50px;}
.nav:not(.mobile) ul li span.text {
  color : #6D316C;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 2.1em;
  white-space:nowrap
}
.nav:not(.mobile) ul li .icon.on {
  margin-top : -10px;
}
.nav:not(.mobile) ul li.road .icon.on {
  margin-top : -8px;
}
.nav:not(.mobile) ul li.about .icon.on {
  margin-top : -3px;
}
.nav:not(.mobile) ul li .icon.off {
  margin-top : -2px;
}
.nav:not(.mobile) ul li {
  max-height : 64px;
}
#menu-block ul {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#menu-block ul a {
  flex-grow : 1;
}


.nav ul li .icon.on {display : none}
.nav ul li .icon.off { display : inline }
.nav ul li:hover .icon.off,  .nav ul li.selected .icon.off {display : none}
.nav ul li:hover .icon.on, .nav ul li.selected .icon.on { display : inline }
/*.nav.mobile ul li .text { visibility : hidden; }*/
.nav ul li:hover .text, .nav ul li.selected .text { visibility : visible; }

footer {
  width: 100% !important;
  position : fixed !important;
  bottom : 0;
  z-index : 9997;
  max-height : 60px;
}
footer p {
  color : white;
  font-family: 'News Cycle', sans-serif;
  font-size : 0.8em;
  text-align : right;
}
footer .credits img {
  position : fixed;
  bottom : 0;
}
footer #browser-block {
  max-height: 43px;
}
footer p.copy {
  position : absolute;
  bottom : 5px;
}
footer .social {
  z-index : 6;
}
footer #socials p {
  color : #6D316C;
  font-weight : bold;
}
footer .social i {
  width : 30px;
  height : 30px;
  color : white;
  font-size : 2rem;
  color : #6D316C;
}
footer #socials #socials-icons {
  text-align : right;
}
footer #flags {
  position : fixed;
  bottom : 5px;
  right : 0;
}


#browserstack { width : 100px }

.pull-left { float : left };
.pull-right { float : right };
.scrollable-y {
  overflow-y : scroll;
  overflow-x : hidden;
}
.flex-item {  flex-grow : 1; }
.flex-item-2 {  flex-grow : 2; }
.flex-item-3 {  flex-grow : 3; }
.flex-item-4 {  flex-grow : 4; }
.flex-item-5 {  flex-grow : 5; }
.flex-item-6 {  flex-grow : 6; }
.flex-item-7 {  flex-grow : 7; }
